# Functional Arguments

### *args(Arguments)

In [1]:
# *args a,b
def my_func(a,b):
    return sum((a,b))

In [2]:
my_func(2,3)

5

In [3]:
def my_func(*args):
    return sum((args))

In [4]:
my_func(2,3,4,5)

14

In [5]:
def myfunc(**kwargs):
    print(kwargs)

In [6]:
myfunc(breakfast=30,lunch=100)

{'breakfast': 30, 'lunch': 100}

In [7]:
def myfunc(*args,**kwargs):
    print('I would like to have {} {}'.format(args[0],kwargs['lunch']))

In [8]:
myfunc(5,8,12,breakfast='upma',lunch='Paratha')

I would like to have 5 Paratha

# map() function

In [9]:
def mysq(no):
    return no**2

In [10]:
mysq(3)

9

In [11]:
mylist = [1,2,3,4]

In [12]:
map(mysq,mylist)

In [14]:
list(map(mysq,mylist))

[1, 4, 9, 16]

# filter()

In [15]:
def check_even(num):
    if num%2==0:
        return num

In [16]:
list(filter(check_even,mylist))

[2, 4]

# Lambda expression

In [20]:
mysquare = lambda num : num**2

In [21]:
mysquare(2)

4

In [22]:
list(map(lambda num : num**2, mylist))

[1, 4, 9, 16]

In [23]:
filter(lambda num: num%2==0, mylist)

In [24]:
list(filter(lambda num: num%2==0, mylist))

[2, 4]

# Scope

In [25]:
my_string = 'Silicon'
def clg_name():
    my_string = 'Trident'
    def hello():
        print("Hello" + my_string)
    hello()
clg_name()

HelloTrident